# Ignore environment variable files
.env
backend/.env.agent
backend/.sync-agent-state.json

# Ignore node modules
node_modules/

# Build outputs
frontend/build/
frontend/build-test/
frontend/dist/
backend/dist/

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep
!backend/uploads/charts/.gitkeep
!backend/uploads/reports/.gitkeep
!backend/uploads/schedules/.gitkeep
!backend/uploads/profile/.gitkeep
